@model AM.VetData.Data.Culture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Culture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CultureCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
