@model AM.VetData.Data.ClinicSpecies

@{
	ViewBag.Title = "Details";

	string imgSrc = null;
	if (Model.Logo != null)
	{
		var base64 = Convert.ToBase64String(Model.Logo);
		imgSrc = String.Format("data:image/gif;base64,{0}", base64);
	}
}

<h2>Details</h2>

<div>
    <h4>ClinicSpecies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrimaryDisplay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryDisplay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
			<img src="@imgSrc" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clinic.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Species.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
