@model AM.VetData.Data.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
	<dl class="dl-horizontal">

		<dt>
			@Html.DisplayNameFor(model => model.Code)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Code)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Time)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Time)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CheckedIn)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CheckedIn)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Client.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Client.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Clinic.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Clinic.Name)
		</dd>

	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
