@model IEnumerable<AM.VetData.Data.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Code)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Time)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CheckedIn)
		</th>
		<th>
			Name
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Clinic.Name)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Code)
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckedIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FirstName) @Html.DisplayFor(modelItem => item.Client.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clinic.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
