@model AM.VetData.Data.Clinic

@{
    ViewBag.Title = "Details";

    string imgSrc = null;
    if (Model.Logo != null)
    {
        var base64 = Convert.ToBase64String(Model.Logo);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<h2>Details</h2>

<div>
    <h4>Clinic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateProvince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateProvince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Logo)*@
            @*<img src="@Url.Action("GetLogo","Clinics", new { logo = Model.Logo })" />*@
            <img src="@imgSrc" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Culture.CountryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Culture.CountryCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
